body,
div,
ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
  font-family: "Roboto", sans-serif;
  /* overflow-x:hidden; */
}

.clear-fix {
  overflow: auto;
}

.education-entry,
.work-entry,
.project-entry {
  padding: 0 5%
}

h1 {
  font-size: 40px;
  color: #f5a623;
  display: inline;
}

h2 {
  font-weight: bold;
  font-size: 24px;
  color: #999;
  line-height: 29px;
  padding: 10px;
}

h3 {
  font-style: italic;
  font-size: 20px;
  color: #000;
  line-height: 22px;
}

h4 {
  font-weight: bold;
  font-size: 14px;
  color: #4a4a4a;
  line-height: 17px;
}

h2,
h3,
h4,
h5 {
  padding: 10px 5%;

}


.date-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: left;
}

.location-text {
  font-style: italic;
  font-size: 14px;
  color: #999;
  line-height: 16px;
  float: right;

}

p {
  font-size: 14px;
  color: #333;
  line-height: 21px;
}

a {
  color: #1199c3;
  text-decoration: none;
  margin-top: 10px;
  display: block;
}


#skills-h3 {
  color: #f5ae23;

}

.orange {
  background-color: #f5ae23;
}

.orange-text {
  color: #f5ae23;
}

.white-text {
  font-weight: bold;
  color: #fff;
}

.gray {
  background-color: #9bd1f5;
  padding-bottom: 10px;
  clear: both;
}


.achievements {
  background-color:#f3f3f3;
  padding-bottom: 10px;
  clear: both;
}

.dark-gray {
  background-color: #4a4a4a;
}

/* TODO: Replace with image later */
#header {
  background-color: #484848;
}

.center-content {
  padding: 2.5% 5%;
}

ul {
  list-style-type: none;
}

/* .biopic {
  float: left;
  padding: 10px;
  width: 200px;
} */

img {
  padding: 10px;
}

span {
  padding: 5px;
}

#lets-connect {
  text-align: center;
}

/* Media queries to handle various device widths */

@media only screen and (max-width: 1024px) {
  #lets-connect {
    margin-top: 5%;
  }

}

@media only screen and (max-width:900px) {
  /* .biopic {
    width: 175px;
  } */
}

@media only screen and (max-width: 760px) {
  #lets-connect {
    margin-top: 10%;
  }

  /* .biopic {
    width: 60%;
    padding-right:40%;
  } */

}

@media only screen and (max-width: 760px) {
  a{
    margin-left:7%;
  }
}

@media only screen and (max-width: 500px) {
  a{
    margin-left:15%;
  }

  .projectImage{
    width:100%;
  }

  img{
    padding:0;
  }

  /* .biopic{
    width:50%;
    border-radius:50%;
    padding-right:0;
  } */

}

#map {
  display: block;
  height: 100%;
  margin: 0 5%;
}

#kmapDiv {
  height: 400px;
  width: 100%;
  padding-bottom: 5%;
}

@media only screen and (min-width: 750px) {
  #skills-h3,
  {
    display: block;
  }
}
/*my changes*/

.flex-box {
    padding-top: 20px;
}

@media only screen and (min-width: 1095px) {
.flex-item {
  display: inline;
  justify-content: space-around;
  padding: 3%;
}
}

@media only screen and (max-width: 500px) {
  h1{
    font-size:25px;
  }

  h2{
    font-size:17px;
  }

  li{
    font-size:12px;
  }


}


.flex-column {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding-bottom: 10px;
}

li{
  list-style-type: none;
}

.indentleft{
  padding-left: 5%;
}

.indentright{
  padding-right: 5%;
}


.i{
  padding-left: 5%;
}

.projectImage{
  height:220px;
}

#header{
  padding-left: 25px;
  padding-right:25px;
  overflow:hidden;
}

.biopic{
  border-radius:50%;
  float:left;
  padding:0;
  height:280px;
  width:280px;
  shape-outside:circle(50%);
  position:relative;
  z-index:12;
  cursor: pointer;
}

.biopic-children{
  height:280px;width:280px;padding:0px;display:inline-block;border-radius:50%;z-index:2;position:relative;
  transition:all ease-out 1s 0s;
  transform:rotateY(0deg);
  backface-visibility: hidden;
}

.biopic-children-back{
  height:280px;
  width:280px;
  border-radius:50%;
  position:absolute;
  top:0;
  left:0;
  padding:0px;
  transform:rotateY(180deg);
  transition:all ease-out 1s 0s;
  z-index:12;
  backface-visibility: hidden;

}


/* 
.biopic:hover{
  transform:scale(1.02);
  backface-visibility: hidden;
  cursor:pointer;
} */

.biopic:hover .biopic-children{
  transform:rotateY(-180deg);
}

.biopic:hover .biopic-children-back{
  transform:rotateY(0deg);
}




#skills-h3{
  display:block;
  text-align:left;
}

.technology{
  display:list-item;
  font-style:bold;
  color:black;
  position:relative;
  left:30px;
}
.technology .white-text{
  color:#f3f3f3
}

.welcome-message{
  display:inline-block;
  width:auto;
  text-align:center;
  font-style: italic;
  position:relative;
  left:5px;
  font-size:none;
  color: rgb(209, 204, 204);
  line-height: 28px;
  padding: 50px 0px 0%;
  font-weight: bold;
}

#skills-h3{
  position:relative;
  left:10px;
  z-index:5;
}
@media only screen and (max-width: 1100px) {

}
@media only screen and (max-width: 700px) {
  .biopic{
  height:220px;
  width:220px;
  margin:auto;
  display:block;
  float:none;
  }
  .biopic-children{
    height:220px;width:220px;
  }
  .biopic-children-back{
    height:220px;
    width:220px;
  }
  .welcome-message{
    padding: 20px 0px 0%;
  }
  .welcome-message,
  #skills-h3,
  .technology
  {
    position:static;
    text-align:center;
    display:block;
  }
  .flex-item{
    text-align:center;
  }
}

